{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col text-center">
                <h1>Choose return location and payment method</h1>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-6">
                <form action="/make-booking" class="needs-validation" method="post" novalidate>
                    <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">

                    <div class="form-group">
                        <label for="return_location">Return Location:</label>
                        <select class="form-control" id="return_location" name="return_location">
                           {{range .Data.locations}}
                                <option value="{{.ID}}">{{.City.Name}},{{.FullAddress}}</option>
                            {{end}}
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="payment_method">Payment Method:</label>
                        <select class="form-control" id="payment_method" name="payment_method">
                            <option value="creditCard">Credit Card</option>
                            <option value="cash">Cash during receiving</option>
                            <option disabled value="ethereum" id="cryptoOption">Crypto(ETH)</option>

                        </select>
                    </div>

                    <div class="text-center">
                        <button type="submit" class="btn btn-dark">Make Reservation</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{{end}}

{{define "js"}}
<script>
    function checkMetaMask() {
        if (typeof window.ethereum !== 'undefined') {
            document.getElementById('cryptoOption').removeAttribute('disabled');
        }
    }

    document.addEventListener('DOMContentLoaded', function() {
        checkMetaMask();
    });
    </script>

{{end}}