{{template "base" .}}

{{define "content"}}
    <div class="container-fluid bg-success justify-content-center" style="height: 150px;">
        <div class="row" style="height:150px;">
            <div class="col text-start align-self-center m-auto">
                <h1 class="text-white">Cars - List Page</h1>
            </div>
            <div class="col"></div>
        </div>
    </div>
    <div id="content" style="margin-top: 28px;">
        <div class="container">

            <form class="needs-validation" method="post" id="bookingCars"  novalidate>
                <div class="row g-3 mb-4" style="padding-top: 0; margin-top: 0; margin-bottom: 10px; margin-right: -6px;">
                    <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
                    <div class="col-md-3 col-lg-3">
                        <div class="position-relative">
                            <div class="input-group">
                                <div class="dropdown" style="width: 100%;">
                                    <button class="btn btn-secondary dropdown-toggle btn-city-dropdown col-md-12 col-lg-12" type="button" id="cityDropdownButton" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="bi bi-geo-alt"></i> Select City
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-end w-100" aria-labelledby="cityDropdownButton">
                                        <li>
                                            <input class="form-control" type="text" name="citySearchInput" id="citySearchInput" style="width: 100%;" placeholder="Search city"  autocomplete="off" required>
                                            <div class="invalid-feedback">Please select a city.</div>
                                        </li>
                                        <li>
                                            <hr class="dropdown-divider">
                                        </li>
                                        <div class="city-options-scroll" style="max-height: 200px; overflow-y: auto;">
                                            <div id="cityList">
                                                {{ range .Data.Cities }}
                                                    <li><a class="dropdown-item city-option" href="#" data-city="{{ .Name }}">{{ .Name }}</a></li>
                                                {{ end }}
                                            </div>
                                        </div>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-8" id="datePicker">
                        <div class="row g-3">
                            <div class="col-md-6 col-lg">
                                <div class="position-relative">
                                    <input class="form-control " autocomplete="off" name="start" placeholder="Start Rent" type="text" required  >
                                </div>
                            </div>
                            <div class="col-md-6 col-lg">
                                <div class="position-relative">
                                    <input class="form-control " name="end" autocomplete="off" placeholder="Rent End" type="text" required  >
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-12 col-lg-1">
                        <button class="btn btn-dark" style="margin-left: 24px;" type="submit" >Search</button>
                    </div>
                </div>
            </form>
            <div class="row">
                <aside class="col-md-3">
                    <div class="shadow-sm justify-content-start bg-light shadow-md rounded p-3" style="padding-left: 0;">
                        <h3 class="fs-4" style="margin-left: 20px;">Filter</h3>
                        <hr class="mx-auto" style="padding-left: 0;margin-left: 62px;">
                        <div class="accordion accordion-flush bg-light mt-n3" role="tablist" id="toggleAlternative">
                            <div class="accordion-item">
                                <h2 class="accordion-header" role="tab" id="carType"><button class="accordion-button collapsed fs-5 bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#toggleAlternative .item-1" aria-expanded="false" aria-controls="toggleAlternative .item-1">Car Type</button></h2>
                                <div class="accordion-collapse collapse item-1 text-bg-light" role="tabpanel" data-bs-parent="#toggleAlternative" aria-labelledby="carType">
                                    <div class="accordion-body">
                                        <div class="form-check"><input class="form-check-input" disabled type="checkbox" id="sedan" name="carType"><label class="form-check-label fs-6 d-block" for="sedan">Sedan<small class="text-muted float-end">45</small></label></div>
                                        <div class="form-check"><input class="form-check-input"disabled type="checkbox" id="micro" name="carType"><label class="form-check-label fs-6 d-block" for="micro">Micro<small class="text-muted float-end">45</small></label></div>
                                        <div class="form-check"><input class="form-check-input"disabled type="checkbox" id="hatchback" name="carType"><label class="form-check-label fs-6 d-block" for="hatchback">Hatchback<small class="text-muted float-end">45</small></label></div>
                                        <div class="form-check"><input class="form-check-input"disabled type="checkbox" id="universal" name="carType"><label class="form-check-label fs-6 d-block" for="universal">Universal<small class="text-muted float-end">45</small></label></div>
                                        <div class="form-check"><input class="form-check-input"disabled type="checkbox" id="liftback" name="carType"><label class="form-check-label fs-6 d-block" for="liftback">Liftback<small class="text-muted float-end">45</small></label></div>
                                        <div class="form-check"><input class="form-check-input"disabled type="checkbox" id="coupe" name="carType"><label class="form-check-label fs-6 d-block" for="coupe">Coupe<small class="text-muted float-end">45</small></label></div>
                                        <div class="form-check"><input class="form-check-input"disabled type="checkbox" id="cabriolet" name="carType"><label class="form-check-label fs-6 d-block" for="cabriolet">Cabriolet<small class="text-muted float-end">45</small></label></div>
                                        <div class="form-check"><input class="form-check-input"disabled type="checkbox" id="roadster" name="carType"><label class="form-check-label fs-6 d-block" for="roadster">Roadster<small class="text-muted float-end">45</small></label></div>
                                        <div class="form-check"><input class="form-check-input"disabled type="checkbox" id="targa" name="carType"><label class="form-check-label fs-6 d-block" for="targa">Targa<small class="text-muted float-end">45</small></label></div>
                                        <div class="form-check"><input class="form-check-input"disabled type="checkbox" id="limousine" name="carType"><label class="form-check-label fs-6 d-block" for="limousine">Limousine<small class="text-muted float-end">45</small></label></div>
                                        <div class="form-check"><input class="form-check-input"disabled type="checkbox" id="muscle car" name="carType"><label class="form-check-label fs-6 d-block" for="muscle car">Muscle car<small class="text-muted float-end">45</small></label></div>
                                        <div class="form-check"><input class="form-check-input"disabled type="checkbox" id="sport car" name="carType"><label class="form-check-label fs-6 d-block" for="sport car">Sport car<small class="text-muted float-end">45</small></label></div>
                                        <div class="form-check"><input class="form-check-input"disabled type="checkbox" id="supercar" name="carType"><label class="form-check-label fs-6 d-block" for="supercar">Super car<small class="text-muted float-end">45</small></label></div>
                                        <div class="form-check"><input class="form-check-input"disabled type="checkbox" id="suv" name="carType"><label class="form-check-label fs-6 d-block" for="suv">SUV<small class="text-muted float-end">45</small></label></div>
                                        <div class="form-check"><input class="form-check-input"disabled type="checkbox" id="crossover" name="carType"><label class="form-check-label fs-6 d-block" for="crossover">Crossover<small class="text-muted float-end">45</small></label></div>
                                        <div class="form-check"><input class="form-check-input"disabled type="checkbox" id="pickup" name="carType"><label class="form-check-label fs-6 d-block" for="pickup">Pickup<small class="text-muted float-end">45</small></label></div>
                                        <div class="form-check"><input class="form-check-input"disabled type="checkbox" id="van" name="carType"><label class="form-check-label fs-6 d-block" for="van">Van<small class="text-muted float-end">45</small></label></div>
                                        <div class="form-check"><input class="form-check-input"disabled type="checkbox" id="minivan" name="carType"><label class="form-check-label fs-6 d-block" for="minivan">Minivan<small class="text-muted float-end">45</small></label></div>
                                        <div class="form-check"><input class="form-check-input"disabled type="checkbox" id="minibus" name="carType"><label class="form-check-label fs-6 d-block" for="minibus">Minibus<small class="text-muted float-end">45</small></label></div>
                                        <div class="form-check"><input class="form-check-input"disabled type="checkbox" id="campervan" name="carType"><label class="form-check-label fs-6 d-block" for="campervan">Campervan<small class="text-muted float-end">45</small></label></div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" role="tab" id="passengers"><button class="accordion-button collapsed fs-5 bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#toggleAlternative .item-2" aria-expanded="false" aria-controls="toggleAlternative .item-2">Passengers</button></h2>
                                <div class="accordion-collapse collapse item-2 bg-light" role="tabpanel" data-bs-parent="#toggleAlternative" aria-labelledby="passengers">
                                    <div class="accordion-body">
                                        <div class="form-check"><input class="form-check-input"disabled type="checkbox" id="oneTo2p" name="passengers"><label class="form-check-label fs-6 d-block" for="oneTo2p">1 to 2 passengers<small class="text-muted float-end">45</small></label></div>
                                        <div class="form-check"><input class="form-check-input"disabled type="checkbox" id="threeTo4p" name="passengers"><label class="form-check-label fs-6 d-block" for="threeTo4p">3 to 4 passengers<small class="text-muted float-end">45</small></label></div>
                                        <div class="form-check"><input class="form-check-input"disabled type="checkbox" id="fiveOrMorep" name="passengers"><label class="form-check-label fs-6 d-block" for="fiveOrMorep">5 or more<small class="text-muted float-end">45</small></label></div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" role="tab" id="bags"><button class="accordion-button collapsed fs-5 bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#toggleAlternative .item-3" aria-expanded="false" aria-controls="toggleAlternative .item-3" aria-labelledby="bags">Bags</button></h2>
                                <div class="accordion-collapse collapse item-3 bg-light" role="tabpanel" data-bs-parent="#toggleAlternative">
                                    <div class="accordion-body">
                                        <div class="form-check"><input class="form-check-input"disabled type="checkbox" id="oneTo2b" name="bags"><label class="form-check-label fs-6 d-block" for="oneTo2b">1 to 2 bags<small class="text-muted float-end" id>45</small></label></div>
                                        <div class="form-check"><input class="form-check-input"disabled type="checkbox" id="threeTo4b" name="bags"><label class="form-check-label fs-6 d-block" for="threeTo4b">3 to 4 bags<small class="text-muted float-end">45</small></label></div>
                                        <div class="form-check"><input class="form-check-input"disabled type="checkbox" id="fiveOrMoreb" name="bags"><label class="form-check-label fs-6 d-block" for="fiveOrMoreb">5 or more<small class="text-muted float-end">45</small></label></div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" role="tab" id="price"><button class="accordion-button fs-5 bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#toggleAlternative .item-4" aria-expanded="true" aria-controls="toggleAlternative .item-4" aria-labelledby="price">Price</button></h2>
                                <div class="accordion-collapse collapse show item-4 bg-light" role="tabpanel" data-bs-parent="#toggleAlternative">
                                    <div class="accordion-body">
                                        <div class="center">
                                            <div class="price text-violet">
                                                <span id="from">0</span>
                                                <span>-</span>
                                                <span id="to">$15,000</span>
                                            </div>
                                            <div class="multi-range">
                                                <input id="min" type="range" min="0" max="100" value="0" step="0.0001">
                                                <input id="max" type="range" min="0" max="100" value="100" step="0.0001">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </aside>
                <div class="col-lg-9 mt-4 mt-lg-0" style="margin-top: 20px;">
                    <div class="border-bottom mb-3 pb-3" >
                        <div class="row align-items-center" style="height: 44px">
                            <div class="col-sm-6 col-md-8"> <span class="me-3"><span id="carsCountCity" class="text-4"></span> <span id="carCount"class="fw-600"></span></span> <span class="text-warning text-nowrap">Prices inclusive of taxes</span></div>
                            <div class="col-sm-6 col-md-4">
                                <div class="row g-0 ms-auto">
                                    <label class="col col-form-label-sm text-end me-2 mb-0" for="input-sort">Sort By:</label>
                                    <select id="input-sort" class="form-select form-select-sm col">
                                        <option value="" selected="selected">Popularity</option>
                                        <option value="">Price - Low to High</option>
                                        <option value="">Price - High to Low</option>
                                        <option value="">User Rating - High to Low</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="car-list">
                        {{with index .Data "cars"}}
                        {{if gt (len .) 0}}
                                {{range .}}
                                    <div class="car-item bg-light shadow-md rounded p-3 mb-3">
                                        <div class="row ">
                                            <div class="col-md-4"><img class="img-fluid rounded align-top" src="/resources/img/cars/{{.Model.Name}}.png" alt="cars"> </div>
                                            <div class="col-md-8 mt-3 mt-md-0">
                                                <div class="row g-0">
                                                    <div class="col-sm-9">
                                                        <h4 class="d-flex align-items-center">
                                                            <p class="text-dark fs-3 me-2 mb-0">{{.Model.Brand.Name}} {{.Model.Name}}</p>
                                                            <span class="alert alert-dark rounded-pill px-2 py-1 lh-1 fw-400 fs-5 mb-0">{{.Type.Name}}</span>
                                                        </h4>
                                                        <p class="car-features d-flex align-items-center mb-2 text-4">
                                                            <span class="d-inline-block" data-bs-toggle="tooltip" data-bs-placement="top" title="{{.Passengers}} Adult Passengers"><i class="fas fa-user"></i><small class="text-2 me-2">{{.Passengers}}</small></span>
                                                            <span data-bs-toggle="tooltip" title="" data-bs-original-title="{{.Bags}} Small Bag"><i class="fas fa-suitcase"></i> <small class="text-2 me-2">{{.Bags}}</small></span>
                                                            <span data-bs-toggle="tooltip" title="" data-bs-original-title="Drive unlimited distance with this car at no extra cost"><i class="fas fa-tachometer-alt"></i> <small class="text-2 me-2">Mileage</small></span>
                                                            <span data-bs-toggle="tooltip" title="" data-bs-original-title="Air Conditioning Available"><i class="fas fa-snowflake"></i> <small class="text-2 me-2">A/C</small></span>
                                                        </p>
                                                        <div class="row text-1 mb-3">
                                                            <div data-bs-toggle="tooltip" title="" class="col-6" data-bs-original-title="Free cancellation up to 72 hours prior to pick up"> <span class="text-success me-1"><i class="fas fa-check"></i></span>Free Cancellation </div>
                                                            <div class="col-6" data-bs-toggle="tooltip" title="" data-bs-original-title="Instantly confirmed upon booking"> <span class="text-success me-1"><i class="fas fa-check"></i></span>Instantly Confirmed </div>
                                                            <div class="col-6" data-bs-toggle="tooltip" title="" data-bs-original-title="In the unlikely event you find a better price on the same brand, we'll beat it. See 'Price Promise' on our About Us page"> <span class="text-success me-1"><i class="fas fa-check"></i></span>Price Guarantee </div>
                                                            <div class="col-6" data-bs-toggle="tooltip" title="" data-bs-original-title="Rate includes Third Party Liability Cover"> <span class="text-success me-1"><i class="fas fa-check"></i></span>Third Party Liability </div>
                                                        </div>
                                                        <div class="row text-1 mb-3">
                                                            <div class="col-sm-9" data-bs-toggle="tooltip" title="" data-bs-original-title=""> <span class="me-1"><i class="fas fa-map-o"></i></span>{{.Location.City.Name}}, {{.Location.FullAddress}} </div>
                                                        </div>
                                                        <div class="row text-1 mb-3">


                                                            {{range .Assignments}}

                                                                <div class="col-sm-3 col-md-auto d-flex justify-content-center" data-bs-toggle="tooltip" title="" data-bs-original-title="">
                                                                    {{if eq .Purpose.Name "Family"}}
                                                                        <span class="badge text-bg-secondary"><i class="fas fa-group"></i> {{.Purpose.Name}}</span>
                                                                    {{else if eq .Purpose.Name "Business"}}
                                                                        <span class="badge text-bg-secondary"><i class="fas fa-briefcase"></i> {{.Purpose.Name}}</span>
                                                                    {{else if eq .Purpose.Name "City"}}
                                                                        <span class="badge text-bg-secondary"><i class="fas fa-city"></i> {{.Purpose.Name}}</span>
                                                                    {{else if eq .Purpose.Name "Off-road"}}
                                                                        <span class="badge text-bg-secondary"><i class="fas fa-mountain"></i> {{.Purpose.Name}}</span>
                                                                    {{else if eq .Purpose.Name "Sport"}}
                                                                        <span class="badge text bg-secondary"><i class="fas fa-futbol"></i> {{.Purpose.Name}}</span>
                                                                    {{else if eq .Purpose.Name "Luxury"}}
                                                                        <span class="badge text bg-secondary"><i class="fas fa-gem "></i> {{.Purpose.Name}}</span>
                                                                    {{else if eq .Purpose.Name "Economy"}}
                                                                        <span class="badge text bg-secondary"><i class="fas fa-coins"></i> {{.Purpose.Name}}</span>
                                                                    {{else if eq .Purpose.Name "Premium"}}
                                                                        <span class="badge text
                                                    bg-secondary"><i class="fas fa-crown"></i> {{.Purpose.Name}}</span>
                                                                    {{else}}
                                                                        <span class="badge text bg-secondary"><i class="fas fa-car"></i> {{.Purpose.Name}}</span>
                                                                    {{end}}
                                                                </div>
                                                            {{end}}
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-3 text-end d-flex flex-column align-items-end">
                                                        <div class="text-success fs-6 mb-0 order-2"></div> <!-- Discount -->
                                                        <div class="d-block fs-6 text-muted mb-0 me-2 me-sm-0 order-1"><del class="d-block"></del></div> <!-- Original Price -->
                                                        <div class="text-dark fs-3 fw-semibold me-2 me-sm-0 order-0">{{.Price}}$</div> <!-- Discounted Price -->
                                                        <div class="text-muted mb-0 mb-sm-1 order-3 d-none d-sm-block">per day</div>
                                                        <a href="/choose-car/{{.ID}}" class="btn btn-sm btn-dark order-4 mt-auto">Book Now</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {{end}}
                        {{else}}
                            <p>Use search to find cars</p>
                        {{end}}
                        {{else}}
                            <p>Use search to find cars</p>
                        {{end}}



                    </div>
                    <ul class="pagination justify-content-center mt-4 mb-0">
                        <li class="page-item disabled"> <a class="page-link" href="#" tabindex="-1"><i class="fas fa-angle-left"></i></a> </li>
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item "> <a class="page-link" href="#">2</a> </li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"> <a class="page-link" href="#"><i class="fas fa-angle-right"></i></a> </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

{{end}}

{{define "js"}}
    <script>

        const elem = document.getElementById('datePicker');
        const rangepicker = new DateRangePicker(elem, {
            format: "yyyy-mm-dd",
            minDate: new Date(),
        });

        let minSlider = document.querySelector('#min')
        let maxSlider = document.querySelector('#max')

        function numberWithSpaces(number) {
            return number.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ' ')
        }

                let minDollars = 0;
                    let maxDollars = 15000;

                updateDollars();

                function updateDollars() {
                    let fromValue = (maxDollars - minDollars) * minSlider.value / 100 + minDollars
                    let toValue   = (maxDollars - minDollars) * maxSlider.value / 100 + minDollars

                    document.querySelector('#from').textContent = `$${numberWithSpaces(Math.floor(fromValue))}`
                    document.querySelector('#to').textContent   = `$${numberWithSpaces(Math.floor(toValue))}`
                }


                maxSlider.addEventListener('input', () => {
                    let minValue = parseInt(minSlider.value)
                    let maxValue = parseInt(maxSlider.value)

                    if (maxValue < minValue + 10) {
                        minSlider.value = maxValue - 10

                        if (minValue === parseInt(minSlider.min)) {
                            maxSlider.value = 10
                        }
                    }

                    updateDollars()
                })

                minSlider.addEventListener('input', () => {
                    let minValue = parseInt(minSlider.value)
                    let maxValue = parseInt(maxSlider.value)

                    if (minValue > maxValue - 10) {
                        maxSlider.value = minValue + 10

                        if (maxValue === parseInt(maxSlider.max)) {
                            minSlider.value = parseInt(maxSlider.max) - 10
                        }
                    }

                    updateDollars()
                })

        document.addEventListener("DOMContentLoaded", function() {
            var cityDropdownButton = document.getElementById('cityDropdownButton');
            var cityList = document.getElementById('cityList');
            var citySearchInput = document.getElementById('citySearchInput');
            var cityOptions = document.querySelectorAll('.city-option');
            var isFirstTime = true;

            function filterCities(searchTerm) {
                var found = false;
                cityList.innerHTML = '';

                cityOptions.forEach(function (cityOption) {
                    var city = cityOption.getAttribute('data-city');
                    if (city.toLowerCase().includes(searchTerm.toLowerCase())) {
                        found = true;
                        cityList.appendChild(cityOption.parentElement);

                    }
                });

                if (!found) {
                    cityList.innerHTML = '<li class="dropdown-header">City not found</li>';
                }
            }

            function updateButtonColor() {
                if (cityDropdownButton.classList.contains('has-city-selected')) {
                    cityDropdownButton.classList.remove('btn-danger');
                    cityDropdownButton.classList.remove('btn-dark');
                    cityDropdownButton.classList.remove('btn-secondary');
                    cityDropdownButton.classList.add('btn-success');
                } else {
                    cityDropdownButton.classList.remove('btn-success');
                    cityDropdownButton.classList.remove('btn-dark');
                    cityDropdownButton.classList.remove('btn-secondary');
                    cityDropdownButton.classList.add('btn-danger');
                }
            }

            function setInitialButtonColor() {
                if (isFirstTime) {
                    cityDropdownButton.classList.add('btn-dark');
                    isFirstTime = false;
                }
            }

            function checkCityInput() {
                var enteredCity = citySearchInput.value.trim();
                var isValidCity = Array.from(cityOptions).some(function (cityOption) {
                    return cityOption.getAttribute('data-city').toLowerCase() === enteredCity.toLowerCase();
                });

                if (isValidCity) {
                    cityDropdownButton.innerHTML = '<i class="bi bi-geo-alt"></i> ' + enteredCity;
                    cityDropdownButton.classList.add('has-city-selected');
                    cityDropdownButton.classList.remove('invalid-city');
                    updateButtonColor();
                } else {
                    cityDropdownButton.classList.remove('has-city-selected');
                    cityDropdownButton.innerHTML = '<i class="bi bi-geo-alt"></i> Select City';
                    cityDropdownButton.classList.add('invalid-city');
                    updateButtonColor();
                }

                return isValidCity;
            }

            citySearchInput.addEventListener('input', function () {
                var inputText = citySearchInput.value.trim();
                filterCities(inputText);

                checkCityInput();

                if (!inputText || Array.from(cityOptions).some(function (cityOption) {
                    return cityOption.getAttribute('data-city').toLowerCase() === inputText.toLowerCase();
                })) {
                    citySearchInput.classList.value = inputText;
                    citySearchInput.classList.remove('is-invalid');
                } else {
                    citySearchInput.classList.add('is-invalid');
                }
            });

            cityList.addEventListener('click', function (event) {
                event.preventDefault();
                var target = event.target;
                if (target.classList.contains('city-option')) {
                    var selectedCity = target.getAttribute('data-city');
                    cityDropdownButton.innerHTML = '<i class="bi bi-geo-alt"></i> ' + selectedCity;
                    citySearchInput.value = selectedCity;
                    cityDropdownButton.classList.add('has-city-selected');
                    citySearchInput.classList.remove('is-invalid');
                    updateButtonColor();
                }
            });


            setInitialButtonColor();

        });





    </script>

{{end}}

{{/*{{range .Data.Cars}}*/}}

{{/*{{end}}*/}}