{{template "base" .}}



{{define "content"}}
    <style>


        .form-container {
            max-width: 400px;
            width: 100%;
            padding: 20px;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        }

        .form-control {
            text-align: center;
            margin-bottom: 10px;
        }

        .btn-submit {
            display: block;
            margin: 0 auto;
        }
    </style>
    <div class="container" style="display: flex; justify-content: center;align-items: center">
        <div class="form-container">
            <div class="text-center mb-3">
                Change your password below!
            </div>

            <form method="post" action="/change-password" autocomplete="off">
                <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
                {{with .Form.Errors.Get "old_pass"}}
                    <label class="text-danger">{{.}}</label>
                {{end}}
                <input type="password" minlength="3" maxlength="100" class="form-control rounded-pill {{with .Form.Errors.Get "old_pass"}} is-invalid {{end}}" id="old_pass" name="old_pass" placeholder="Old Password" required />
                <div class="input-group">
                    {{with .Form.Errors.Get "new_pass"}}
                        <label class="text-danger">{{.}}</label>
                    {{end}}
                <input type="password" minlength="3" maxlength="100" class="form-control rounded-pill {{with .Form.Errors.Get "new_pass"}} is-invalid {{end}}" id="new_pass" name="new_pass" placeholder="New Password" required /><span class="btn input-group-text icon-eye" id="showPasswordBtn"></span>
                </div>
                {{with .Form.Errors.Get "new_pass_repeat"}}
                    <label class="text-danger">{{.}}</label>
                {{end}}
                    <input type="password" minlength="3" maxlength="100" class="form-control rounded-pill {{with .Form.Errors.Get "new_pass_repeat"}} is-invalid {{end}}" id="new_pass_repeat" name="new_pass_repeat" placeholder="Repeat New Password" required />
                <button type="submit" class="btn btn-dark btn-submit">Submit</button>
            </form>
        </div>
    </div>
{{end}}

{{define "js"}}
    <script>
        document.getElementById('showPasswordBtn').addEventListener('click', function() {
            var passwordInput = document.getElementById('new_pass');
            if (passwordInput.type === 'password') {
                passwordInput.type = 'text';
            } else {
                passwordInput.type = 'password';
            }
        });
    </script>
{{end}}
