{{template "head" .}}

{{define "css"}}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.3.4/dist/css/datepicker.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.3.4/dist/css/datepicker-bs5.min.css">

{{end}}


{{define "content"}}
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Add car</h4>
                <form class="forms-sample" action="/head/add-car" method="post">
                    <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
                    <div class="form-group">
                        <label for="SelectBrand">Brand</label>
                        <select class="form-control" id="SelectBrand" name="SelectBrand" required>
                            <option value="">Select Brand</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="SelectModel">Model</label>
                        <select class="form-control" id="SelectModel" name="SelectModel" required>
                            <option value="">Select Brand</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="SelectType">Type</label>
                        <select class="form-control" id="SelectType" name="SelectType" required>
                            <option value="">Select Type</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="inputBags">Bags (1-6)</label>
                        <input type="number" min="1" max="6" class="form-control" id="inputBags" name="inputBags" placeholder="5" required>
                    </div>
                    <div class="form-group">
                        <label for="inputPassengers">Passengers (2-6)</label>
                        <input type="number" min="2" max="6" class="form-control" id="inputPassengers" name="inputPassengers" placeholder="4" required>
                    </div>
                    <div class="form-group">
                        <label for="year">Year</label>
                        <input type="number" class="form-control" id="year" min="1950" max="2024" name="year" placeholder="2020" required>
                    </div>
                    <div class="form-group">
                        <label>Price</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-primary text-white">$</span>
                            </div>
                            <input type="number" min="10" id="price" name="price" max="10000" class="form-control" aria-label="Amount (to the nearest dollar)" required>
                            <div class="input-group-append">
                                <span class="input-group-text">.00</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="plate">Plate</label>
                        <input type="text" class="form-control" id="plate" name="plate" pattern="[A-Za-z]{2}\d{4}[A-Za-z]{2}" placeholder="АA1234AA" required>
                    </div>
                    <div class="form-group">
                        <label for="SelectColor">Color</label>
                        <select class="form-control" id="SelectColor" name="color" required>
                            <option value="">Select Color</option>
                            <option value="Black">Black</option>
                            <option value="White">White</option>
                            <option value="Red">Red</option>
                            <option value="Blue">Blue</option>
                            <option value="Green">Green</option>
                            <option value="Yellow">Yellow</option>
                            <option value="Orange">Orange</option>
                            <option value="Purple">Purple</option>
                            <option value="Pink">Pink</option>
                            <option value="Brown">Brown</option>
                            <option value="Gray">Gray</option>
                            <option value="Silver">Silver</option>
                            <option value="Gold">Gold</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary me-2">Add</button>
                </form>
            </div>
        </div>
    </div>
{{end}}

{{define "js"}}
    <script src="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.3.4/dist/js/datepicker-full.min.js"></script>
    <script>


        let first = true;
        function fillSelect() {
            var apiEndpoint = '/head/get-brands';

            $.ajax({
                url: apiEndpoint,
                method: 'GET',
                dataType: 'json',
                success: function (data) {
                    console.log('Data:', data);

                    $('#SelectBrand').empty();

                    $.each(data, function (index, brand) {
                        $('#SelectBrand').append($('<option>', {
                            value: brand.ID,
                            text: brand.Name,
                        }));
                    });
                    if (first) {
                        first = false;
                        fillModels(data[0].ID, '#SelectModel');
                    }

                    $('#SelectBrand').on('change', function () {
                        var selectedBrandId = $(this).val();

                        if (selectedBrandId) {
                            fillModels(selectedBrandId, '#SelectModel');
                        }
                    });
                },
                error: function (error) {
                    console.error('Error fetching data:', error);
                }
            });
        }

        function fillModels(brandId, targetSelector) {
            var apiEndpoint = '/head/get-models?brandId=' + brandId;

            $.ajax({
                url: apiEndpoint,
                method: 'GET',
                dataType: 'json',
                success: function (data) {
                    $(targetSelector).empty();

                    $.each(data, function (index, model) {
                        $(targetSelector).append($('<option>', {
                            value: model.ID,
                            text: model.Name,
                        }));
                    });
                },
                error: function (error) {
                    console.error('Error fetching model data:', error);
                }
            });
        }

        function fillTypes() {
            var apiEndpoint = '/head/get-types';

            $.ajax({
                url: apiEndpoint,
                method: 'GET',
                dataType: 'json',
                success: function (data) {
                    console.log('Data:', data);

                    $('#SelectType').empty();

                    $.each(data, function (index, type) {
                        $('#SelectType').append($('<option>', {
                            value: type.ID,
                            text: type.Name,
                        }));
                    });
                },
                error: function (error) {
                    console.error('Error fetching data:', error);
                }
            });
        }

        $(document).ready(function () {
            $('#year').max = new Date().getFullYear();
            fillSelect();
            fillTypes();
        });

    </script>
{{end}}
