{{template "base" .}}

{{define "content"}}
    <div class="carousel slide carousel-fade" data-bs-ride="carousel" id="carousel-1" style="height: 600px;padding-bottom: 0;">
        <div class="carousel-inner h-100">
            <div class="carousel-item active h-100"><img class="w-100 d-block position-absolute h-100 fit-cover" src="/resources/img/landing/carousel-1.avif" alt="Slide Image" style="z-index: -1;">
                <div class="container d-flex flex-column justify-content-center h-100">
                    <div class="row">
                        <div class="col-md-6 col-xl-4 offset-md-2">
                            <div style="background-color: rgba(0,0,0,0.2);border-radius: initial;padding-top: 15px;padding-bottom: 15px;padding-left: 15px;">
                                <div>
                                    <h1 class="text-uppercase fw-bold text-white">Welcome to Goober</h1>
                                    <p class="text-white my-3">Whether you're planning a road trip with friends, a family vacation, or a business trip, we're here to provide you with the perfect vehicle to make it happen.</p><a class="btn btn-outline-dark btn-lg border rounded-0 border-white me-2" role="button" href="#"><span style="color: rgb(255, 255, 255);">Start your journey</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item h-100"><img class="w-100 d-block position-absolute h-100 fit-cover" src="/resources/img/landing/carousel-2.avif" alt="Slide Image" style="z-index: -1;">
                <div class="container d-flex flex-column justify-content-center h-100">
                    <div class="row">
                        <div class="col-md-6 col-xl-4 col-xxl-3 offset-md-2">
                            <div style="max-width: 350px;background-color: rgba(0,0,0,0.2);border-radius: initial;padding-top: 15px;padding-right: 0;padding-left: 15px;padding-bottom: 15px;">
                                <div>
                                    <h1 class="text-uppercase fw-bold"><span style="color: rgb(255, 255, 255);">500+ cars</span></h1>
                                    <p class="my-3"><span style="color: rgb(255, 255, 255);">Our company has more than 500 cars </span><br><span style="color: rgb(255, 255, 255);">around the world waiting for you to </span><br><span style="color: rgb(255, 255, 255);">rent them.</span></p><a class="btn btn-outline-dark btn-lg link-light border rounded-0 border-white me-2" role="button" href="/cars">Explore cars</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item h-100"><img class="w-100 d-block position-absolute h-100 fit-cover" src="/resources/img/landing/carousel-3.jpg" alt="Slide Image" style="z-index: -1;">
                <div class="container d-flex flex-column justify-content-center h-100">
                    <div class="row">
                        <div class="col-md-6 col-xl-4 offset-md-2">
                            <div style="max-width: 350px;background-color: rgba(0,0,0,0.2);border-radius: initial;padding-top: 15px;padding-bottom: 15px;padding-left: 15px;">
                                <div>
                                    <h1 class="text-uppercase fw-bold"><span style="color: rgb(255, 255, 255);">10+ cities</span></h1>
                                    <p class="my-3"><span style="color: rgb(255, 255, 255);">Our company works in more that 10 cities and has more than 5 places to make&nbsp;a rent in each one.</span></p><a class="btn btn-outline-dark btn-lg link-light border rounded-0 me-2" role="button" id="testTrans" href="#">Button</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div><a class="carousel-control-prev" href="#carousel-1" role="button" data-bs-slide="prev"><span class="carousel-control-prev-icon"></span><span class="visually-hidden">Previous</span></a><a class="carousel-control-next" href="#carousel-1" role="button" data-bs-slide="next"><span class="carousel-control-next-icon"></span><span class="visually-hidden">Next</span></a></div>
        <div class="carousel-indicators"><button type="button" data-bs-target="#carousel-1" data-bs-slide-to="0" class="active"></button> <button type="button" data-bs-target="#carousel-1" data-bs-slide-to="1"></button> <button type="button" data-bs-target="#carousel-1" data-bs-slide-to="2"></button></div>
    </div>
    <div class="container py-4 py-xl-5" data-aos="fade" data-aos-duration="1000" data-aos-delay="50" style="margin-bottom: 106px;padding-bottom: 0;">
        <div class="row gy-4 gy-md-0" style="margin-top: 58px;">
            <div class="col-md-6 col-xxl-6 text-center text-md-start d-flex d-sm-flex d-md-flex justify-content-center align-items-center justify-content-md-start align-items-md-center justify-content-xl-center">
                <div style="max-width: 350px;padding-left: 0;margin-left: -292px;padding-top: 0;margin-top: 90px;">
                    <h2 class="text-uppercase fw-bold d-flex" style="margin-right: -80px;margin-top: -196px;margin-bottom: -2px;">Discover the Benefits of Renting with Goober</h2>
                    <p class="d-flex my-3" style="margin-right: -82px;margin-top: 36px;margin-bottom: 34px;padding-bottom: 30px;">Experience competitive pricing, a wide selection of cars, and excellent customer service when you rent with Goober.</p>
                    <div>
                        <div class="row" style="padding-right: 0;margin-right: -420px;">
                            <div class="col d-flex">
                                <div>
                                    <h1 class="fs-5" style="padding-bottom: 0;font-weight: bold;">Competitive Pricing</h1>
                                    <p class="fs-6 my-3" style="margin-right: -82px;padding-right: 162px;padding-top: 0;margin-top: 18px;">Rent a car at affordable rates without compromising on quality or comfort.</p>
                                </div>
                            </div>
                            <div class="col-xxl-6 d-flex">
                                <div>
                                    <h1 class="fs-5" style="padding-bottom: 0;font-weight: bold;">Wide Selection</h1>
                                    <p class="fs-6 my-3" style="margin-right: -82px;padding-right: 162px;padding-top: 0;margin-top: 18px;">Rent a car at affordable rates without compromising on quality or comfort.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xxl-6" style="padding-left: 18px;margin-left: -8px;">
                <div class="p-xl-5 m-xl-5" style="padding-top: 88px;margin-top: 10px;padding-left: 94px;margin-left: -12px;"><img class="rounded img-fluid w-100 fit-cover" style="width: 100%;   height: 100%;   overflow: hidden;   position: relative;   object-fit: cover;" src="/resources/img/landing/benefits.jpg" width="600" height="7" alt=""></div>
            </div>
        </div>
    </div>
    <div class="container py-4 py-xl-5" data-aos="fade" data-aos-duration="1000">
        <div class="row mb-5">
            <div class="col-md-8 col-xl-6 text-center mx-auto" style="padding-right: 16px;margin-bottom: -1px;">
                <h1 class="fs-6">Simplified</h1>
                <h2 class="fs-1" style="font-weight: bold;">Renting a Car Made Easy with Goober</h2>
                <p class="w-lg-50">Renting a car through Goober's platform is a breeze. Follow these simple steps to get started.</p>
            </div>
        </div>
        <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3">
            <div class="col">
                <div>
                    <div><img style="width: 100%;height: 100%;margin-bottom: -1px;" width="416" height="250" src="/resources/img/landing/choose.jpg" alt="">
                        <div>
                            <h1 class="fs-2" style="font-weight: bold;text-align: center;margin-bottom: 24px;margin-top: 16px;">Choose Your Ideal Car</h1>
                            <p style="text-align:center;">Browse our wide selection of cars and pick the one that suits your needs.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div>
                    <div><img style="width: 100%;height: 100%;margin-bottom: -1px;" width="416" height="250" src="/resources/img/landing/confirm.jpg" alt="">
                        <div>
                            <h1 class="fs-2" style="font-weight: bold;text-align: center;margin-bottom: 24px;margin-top: 16px;">Book and Confirm</h1>
                            <p style="text-align:center;">Reserve your chosen car and receive instant confirmation.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div>
                    <div><img style="width: 100%;height: 100%;margin-bottom: -1px;" width="416" height="250" src="/resources/img/landing/pickup.jpg" alt="">
                        <div>
                            <h1 class="fs-2" style="font-weight: bold;text-align: center;margin-bottom: 24px;margin-top: 16px;">Pick Up and Go</h1>
                            <p style="text-align:center;">Collect your car from the designated location and hit the road.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col text-center mx-auto">
                <div><a class="btn btn-outline-dark fs-5 border rounded-0" role="button" style="margin-right: 15px;" href="/cars">Explore</a><a class="fs-5 link-dark" href="#" style="text-decoration: none;text-align: center;vertical-align: middle;">Sing Up &gt;</a></div>
            </div>
        </div>
    </div>
    <div class="container" data-aos="fade" data-aos-duration="1000" style="margin-bottom: 132px;margin-top: 140px;">
        <div class="row">
            <div class="col" style="margin-bottom: 70px;">
                <div class="row">
                    <div class="col">
                        <h1 class="fs-6">Convenient</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h1 style="font-weight: bold;margin-bottom: 14px;">Contact Goober</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p>Have a question or need assistance? We're here to help!</p>
                    </div>
                </div>
            </div>
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col">
                <div class="row" style="text-align: left;">
                    <div class="col"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-mailbox" style="font-size: 28px;margin-bottom: 20px;">
                            <path d="M4 4a3 3 0 0 0-3 3v6h6V7a3 3 0 0 0-3-3m0-1h8a4 4 0 0 1 4 4v6a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V7a4 4 0 0 1 4-4m2.646 1A3.99 3.99 0 0 1 8 7v6h7V7a3 3 0 0 0-3-3z"></path>
                            <path d="M11.793 8.5H9v-1h5a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.354-.146l-.853-.854zM5 7c0 .552-.448 0-1 0s-1 .552-1 0a1 1 0 0 1 2 0"></path>
                        </svg>
                        <h1 class="fs-4" style="font-weight: bold;margin-bottom: 8px;">Email</h1>
                        <p style="margin-bottom: 18px;">Send us an email today</p>
                        <p style="text-decoration: underline;padding-left: 0;margin-bottom: 50px;">hello@gooberrides.com</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-telephone-fill" style="font-size: 28px;margin-bottom: 20px;">
                            <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"></path>
                        </svg>
                        <h1 class="fs-4" style="font-weight: bold;margin-bottom: 8px;">Phone</h1>
                        <p style="margin-bottom: 18px;">Give us a call anytime</p>
                        <p style="text-decoration: underline;padding-left: 0;margin-bottom: 50px;">1 (555) 123-4567</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col"><i class="icon-location-pin" style="font-size: 28px;padding-bottom: 0;margin-top: -1px;margin-bottom: 2px;"></i>
                        <h1 class="fs-4" style="font-weight: bold;margin-bottom: 8px;margin-top: 20px;">Office</h1>
                        <p style="margin-bottom: 18px;">123 Main St, Anytown, USA</p><a class="link-dark" href="#" style="text-decoration: none;">Get directions &gt;</a>
                    </div>
                </div>
            </div>
            <div class="col"><iframe allowfullscreen="" loading="lazy" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBuqbu0sE_RjgoMnJaY3HBqhhDUdTnxhds&amp;q=60+Volodymyrska+Street%2C+Kyiv%2C+01033&amp;zoom=16" style="width: 100%;   height: 100%;   overflow: hidden;   position: relative;   object-fit: cover;"></iframe></div>
        </div>
    </div>
    <div class="container" data-aos="fade" data-aos-duration="1000">
        <div class="row" style="margin-left: -12px;padding-left: 0;">
            <div class="col">
                <h1 style="font-weight: bold;">Frequently Asked Questions</h1>
                <p style="margin-bottom: 60px;">Find answers to common questions about our car rental process and policies.</p>
                <hr class="d-flex" style="color: rgba(0,0,0,1);margin-bottom: 0;padding-left: 0;margin-left: 0;">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h1 class="fs-5" style="font-weight: bold;margin-top: 20px;">How do I rent a car?</h1>
                <p style="margin-bottom: 20px;">Renting a car is easy! Simply browse our available cars, select your desired dates and location, and complete the reservation process online. You can also contact our customer support team for assistance.</p>
                <hr class="d-flex" style="color: rgba(0,0,0,1);margin-bottom: 0;margin-left: 0;">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h1 class="fs-5" style="font-weight: bold;margin-top: 20px;">What are the rental requirements?</h1>
                <p style="margin-bottom: 20px;">To rent a car, you must be at least 21 years old and hold a valid driver's license. Additional requirements may vary depending on the location and type of car.</p>
                <hr class="d-flex" style="color: rgba(0,0,0,1);margin-bottom: 0;margin-left: 0;">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h1 class="fs-5" style="font-weight: bold;margin-top: 20px;">Is insurance included?</h1>
                <p style="margin-bottom: 20px;">Basic insurance coverage is included in the rental price. Additional coverage options are available for purchase.</p>
                <hr class="d-flex" style="color: rgba(0,0,0,1);margin-bottom: 0;margin-left: 0;">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h1 class="fs-5" style="font-weight: bold;margin-top: 20px;">What payment methods are accepted?</h1>
                <p style="margin-bottom: 20px;">We accept major credit cards, including Visa, Mastercard, and American Express. Debit cards and cash payments may be accepted at select locations.</p>
                <hr class="d-flex" style="color: rgba(0,0,0,1);margin-bottom: 0;margin-left: 0;">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h1 class="fs-2" style="margin-top: 50px; font-weight: bold;">Still have questions?</h1>
                <p>Contact our customer support team for assistance.</p><button class="btn btn-outline-dark border rounded-0 border-black" type="button">Contact</button>
            </div>
        </div>
    </div>
{{end}}


{{define "js"}}
    <script>

        var sendEthButton = document.getElementById('testTrans');
        sendEthButton.addEventListener('click', function() {
            const provider = window.ethereum;

            provider.sendAsync({
                method: 'eth_getTransactionReceipt',
                params: ['0x80dbaeab3db1942e28ea3e960202cdba616bdbbcdf57a7874e7f3004826ee607'], // Replace with actual transaction hash
            }, (error, result) => {
                if (error) {
                    console.error('Error fetching transaction receipt:', error);
                } else {
                    console.log('Transaction receipt:', result);
                    console.log('Status:', result.result.status);
                    if (result.result && result.result.status === '0x1') {
                        console.log('Transaction successful');
                    } else if (result.result && result.result.status === '0x0') {
                        console.log('Transaction failed');
                    } else {
                        console.log('Transaction pending or status unknown');
                    }
                }
            });


            // window.ethereum.request({
            //     method: 'eth_sendTransaction',
            //     params :[{
            //       from: window.ethereum.selectedAddress,
            //       to: '0x1E1B1eCfA0567B9278A95Def3Cf2b83E03599D00',
            //         value: '0x38d7ea4c68000',
            //         gas: '0x8235',
            //         maxPriorityFeePerGas: '0x3b9aca00',
            //         maxFeePerGas: '0x2540be400',
            //     }
            //     ],
            // }).then((txHash) => {
            //     console.log(txHash);
            // })
            // .catch((error) => {
            //     console.error(error);
            // });
        });
    </script>
{{end}}
